<dom-module id="mv-details">
    <style>
        .right {
            float: right;
        }
        
        .container {
            @apply(--layout-horizontal);
        }
        
        .flexchild {
            background-color: var(--paper-grey-200);
            padding-left: 20px;
            @apply(--layout-flex);
            @apply(--paper-font-common-base);
        }
        
        paper-fab.blue {
            --paper-fab-background: var(--paper-red-500);
            --paper-fab-keyboard-focus-background: var(--paper-red-900);
        }
        
        paper-card {
            cursor: pointer;
        }
        
        .right {
            text-align: right;
        }
        
        #dialog h3 {
            padding: 5px;
            margin: 0;
        }
        
        div.advertisement {
            height: 75px;
            background-image: url('../assets/images/advert.jpg');
            background-repeat: no-repeat;
        }
        
        .paper-dialog-0>*:last-child {
            margin-bottom: 0;
        }
        
        section.trailer {
            cursor: pointer;
        }
        
        section.trailer>paper-fab {
            display: inline;
        }
    </style>
    <template><paper-progress id="progress"></paper-progress>
      <div class="container">
        <div>
            <paper-card image="{{movie.Poster}}" on-tap="playTrailer">
                   <paper-ripple></paper-ripple>
            </paper-card>
        </div>
        <div class="flexchild">
            <article>
                <h1>{{movie.Title}}</h1>
                <p>{{movie.Plot}}</p>
            </article>
            <section class="trailer" on-tap="playTrailer">
                <paper-fab class="blue" icon="av:av:play-arrow"></paper-fab>Trailer                
            </section>
            <ul>
                <li>Released: {{movie.Released}}</li>
                <li>Runtime: {{movie.Runtime}}</li>
                <li>Cast: {{movie.Actors}}</li>                
                <li>Writer: {{movie.Writer}}</li>
            </ul>

            <paper-dialog id="dialog" vertical-align="top" entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true">
                 <h3>{{movie.Title}}<paper-icon-button class="right" icon="close" on-tap="clearModal"></paper-icon-button></h3>
                 <div id="jwPlayer"></div>
                 <div class="advertisement"></div>
            </paper-dialog>
    
    </div>
    </div>

    <iron-ajax url="/assets/movies.json" id="ajaxElement" handle-as="json" on-response="movieResponse"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: "mv-details",
            properties: {
                omdbURL: {
                    type: String,
                    value: ''
                },
                imdbID: {
                    type: String,
                    value: ''
                },
                route: {
                    type: Object,
                    reflectToAttribute: true
                },
                movie: {
                    type: Object,
                    value: {}
                }
            },
            observers: [
                '_routePageChanged(routeData.page)',
            ],
            _routePageChanged: function(routeData) {
                console.log("From mv-details:", routeData);

            },
            attributeChanged: function() {
                this.imdbID = this.route.path.slice(1);
                this.omdbURL = 'http://www.omdbapi.com/?i=' + this.route.path.slice(1);
                this.$.ajaxElement.generateRequest();
            },
            movieResponse: function(response) {
                var movies = response.detail.response;
                console.log(movies, this.imdbID);
                var iID = this.imdbID;
                var fMovies = movies.filter(function(mv) {
                    return mv.imdbID == iID;
                });

                this.movie = fMovies[0];
                if (!this.movie) return

                var player = jwplayer('jwPlayer');
                var tUrl = this.movie.Trailer ? this.movie.Trailer : '//content.jwplatform.com/manifests/1b02B03R.m3u8';
                player.setup({
                    file: tUrl,
                    image: this.movie.Poster.replace('https:', ''),
                    autostart: false,
                    width: 700
                });

                console.log("From mv-details :", this.movie);
            },
            playTrailer: function() {
                this.$.dialog.open();
                var player = jwplayer('jwPlayer');
                player.play();
            },
            clearModal: function() {
                this.$.dialog.close();
                var player = jwplayer('jwPlayer');
                player.stop();
            }
        })
    </script>
</dom-module>